.DS_Store
node_modules
/dist
migrations

# Python specific
__pycache__/
*.py[cod]

# Sequence Files
temp/
temp/*
/temp/*
b000027.txt

# local env files
.env.local
*.env.*.local
*.env

# Log files
# the contents of the `logs` directory are ignored using a local `.gitignore`,
# which has the desired bonus effect of ensuring that the `logs` directory is
# always present
npm-debug.log*
yarn-debug.log*
yarn-error.log*
cysignals_crash_logs/*

# Editor directories and files
.idea
.vscode
*~
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.venv


