Flask[async] # web framework with the async extra
black # code formatter
ruff # code linter
pytest # test framework
python-dotenv # library for .env files
Flask-SQLAlchemy # Flask library for a popular SQL ORM
psycopg2-binary # library for interacting with Postgres
Flask-Migrate # library for migrating database models
requests # library for making HTTP requests
cypari2 # library for factoring
