{% extends 'index.html' %}

{% block header_extra %}
<link rel="stylesheet" type="text/css" href="/static/css/sandbox.css">
{% endblock %}

{% block main %}
  <div id="canvasArea">
  </div>

  <!--Sequence Navs-->
  <div id="seqNavs">
  </div>

  <!--Sequence Input Options-->
  <div id="builtInInputNavs">
  </div>

  <div id="oeisInputNavs">
  </div>

  <div id="listInputNavs">
  </div>

  <div id="codeInputNavs">
  </div>

  <!--Tool Navs-->
  <div id="toolNavs">
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
  <script src="/static/js/NScore_bundle_legacy.js"></script>
  <script src="/static/js/staging/setup.js"></script>
  <script src="/static/js/staging/sandbox.js"></script>
  
{% endblock %}
